body {
    background-color: #f8e3ff;
    color: black;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 75px;
    margin-left: 75px;
}

div#footer {
    font-size: 15px;
    background-color: #ffc9e9;
    border: 4px solid #f051ae;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}